@function rhythm-shift($font-size, $line-height, $cap-height) {
	$offset: ($line-height - $cap-height * $font-size) / 2;
	@return round($offset);
}

@mixin fp($font-size, $line-height, $cap-height) {
	$offset: rhythm-shift($font-size, $line-height, $cap-height);
	font-size: $font-size;
	line-height: $line-height;
	transform: translateY($offset);
}

@mixin f($font-size, $line-height, $offset) {
	font-size: $font-size;
	line-height: $line-height;
	transform: translateY($offset);
}

// ul li {
// 	list-style: none;
// }

// ul li::before {
// 	color: var(--primary);  
// 	/* color of bullet or square */
  
// 	content: "\2022"; 
// 	/* Unicode of character to precede the list item */
  
// 	font-size: 1em; 
// 	/* em or %*/
   
// 	padding-right: 1.1225em; 
// 	/* use em*/
  
// 	position: relative;
// 	top: 0em; 
// 	/* use em or % */
  
//   }
  
//   li {
// 	text-indent: -.7em;
//   }

  
// li::marker {
// 	list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAE0lEQVQIW2NkYGD4D8RwwEi6AACaVAQBULo4sgAAAABJRU5ErkJggg==");
// }


h1, h2, h3, h4, h5, h6, p, li {
	margin: 0;
	font-family: 'Lato', sans-serif;
	@include f(16px, 24px, 6px);
	font-weight: 400;
}

ol, ul, dl {
    padding-inline-start: 0px;
}

dd, dt, ol, ul, dl {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	@include f(16px, 24px, 0);
}


@mixin oswald {	
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
  	> strong {
	  font-weight: 500;
	}
}

h1 {
	@include oswald;
	@include f(32px, 40px, 6px);
	letter-spacing: 0.08em;
}

h2 {
	@include oswald;

	@include f(32px, 40px, 6px);
    letter-spacing: 0.08em;
}

h3 {
	
	@include oswald;
	@include f(20px, 24px, 3px);
	font-weight: 400;
	@include media-breakpoint-up(md) {
		@include f(32px, 40px, 6px);
        font-weight: 300;
        letter-spacing: 0.08em;
	}
}

.h4, h4 {
	@include oswald;
	@include f(20px, 24px, 4px);
	letter-spacing: 0.08em;
}


.my-course-progress-percent {
	@include oswald;
	@include f(32px, 40px, 6px);
}

.my-course-title {
	@include oswald;
	@include f(32px, 40px, 6px);
	@include media-breakpoint-up(md) {
		@include f(48px, 64px, 6px);
	}
}

.transform-none {
	transform: translateY(0);
}

// h2 {
// 	@include oswald;
// 	@include f(40px, 48px, 6px);
// }

.font-light {
	font-weight: 300;
}


h5 {
	font-family: 'Lato', sans-serif;
	@include f(16px, 24px, 6px);
	font-weight: 700;
  
	@include media-breakpoint-up(lg) {
		@include oswald;
		@include f(32px, 40px, 6px);
	}
}

h6 {
	font-family: 'Oswald', sans-serif;
	@include f(14px, 24px, 6px);
	font-weight: 400;
  
	@include media-breakpoint-up(lg) {
		@include f(20px, 24px, 3px);
	}
}


.btn-small {
	border-radius: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: var(--onwhite-normal);
	font-family: 'Oswald', sans-serif;
	@include f(14px, 20px, 0);
	font-weight: 400;
	text-align: center;
	text-shadow: 0 1px 0 0 rgba(255,255,255,0.7);
}

.small {
	font-family: 'Lato', sans-serif;
	@include f(12px, 16px, 3px);
	font-weight: 400;
}

.small-flex {
	font-family: 'Lato', sans-serif;
	@include f(12px, 16px, 3px);
	font-weight: 400;
	@include media-breakpoint-up(lg) {
		@include f(16px, 24px, 6px);
	}
}

